rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // 모든 경로({allPaths=**})의 파일에 대해 읽기, 쓰기(생성/수정/삭제) 허용
    match /{allPaths=**} {
      allow read, write: if true;
    }
    
  }
}


